 
 
 <div class="footer clearfix">
        <div class="container">
          <div class="row">
            <div class="col-sm-2 col-xs-12">
              <div class="footerLink">
                <h5>Navigate</h5>
                <ul class="list-unstyled">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Our Profile</a></li>
                  <li><a href="#">Contact</a></li>
               
                </ul>
              </div>
            </div>
           
            <div class="col-sm-3 col-xs-12">
              <div class="footerLink">
                <h5>Address</h5>
                <ul class="list-unstyled">
                  <li>B/12 Vaishali Industrial Estate, B. T. </li>
                  <li>Road, Dahisar (W), Mumbai 400 068.</li>
                  <li>Tel : + 91-22-2222 3333 </li>
                  <li>Fax : +91-22-28926188 </li>
                  <li>Mob : +91-9757222333 | +91-9833442828</li>
                  <li>E-mail: tekchandbheda@gmail.com</li>
				  <li>komal@vsnl.com | komal@mtnl.net.in</li>
                </ul>
              </div>
            </div>
            <div class="col-sm-7 col-xs-12">
              <div class="footerLink">
                <h5>Location</h5>
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3766.7171027595996!2d72.85528451430983!3d19.25115715144735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b103aaaaaaab%3A0x5b5663434b6fe993!2sKomal+Trading+Corporation!5e0!3m2!1sen!2sin!4v1467901290159" width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
            <!--<div class="col-sm-4 col-xs-12">
              <div class="newsletter clearfix">
                <h4>Newsletter</h4>
                <h3>Sign up now</h3>
                <p>Enter your email address and get notified about new products. We hate spam!</p>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="your email address" aria-describedby="basic-addon2">
                  <a href="#" class="input-group-addon" id="basic-addon2">go <i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
              </div>  
            </div>-->
          </div>
        </div>
      </div>
      <!-- COPY RIGHT -->
      <div class="copyRight clearfix">
        <div class="container">
          <div class="row">
            <div class="col-sm-7 col-xs-12">
              <p>&copy; 2016 Copyright Komal Trading Corporation |Designed & Developed  by <a target="_blank" href="http://www.repleteinc.com/">Replete Business Solutions Pvt. Ltd.</a>.</p>
            </div>
            <div class="col-sm-5 col-xs-12">
              <ul class="list-inline">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <!--<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                <li><a href="#"><i class="fa fa-tumblr"></i></a></li>-->
              </ul>  
            </div>
          </div>
        </div>
      </div>
    </div>
	</section>
    
    <!-- Registration model first -->
        
    <div class="modal fade login-modal" id="register1" tabindex="-1" role="dialog" ng-controller="userController">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"> 
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Registration </h3>
          </div>
          <div class="modal-body">
            <form  ng-submit="sendOtp()" role="form" novalidate>
              <div class="form-group">
                <label for="">Enter Mobile No.</label>
                <input ng-model="$root.mobileNo" type="text" class="form-control" id="">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Send OTP</button>
            </form>  
          </div>
        </div>
      </div>
    </div>
        

    <!-- Registration process second -->
        
    <div class="modal fade login-modal" id="register2" tabindex="-1" role="dialog" ng-controller="userController">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"> 
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Registration</h3>
          </div>
          <div class="modal-body">
            <form  ng-submit="verifyOtp()" role="form">
              <div class="form-group">
                <label for="">Enter Mobile No.</label>
                <input ng-model="$root.mobileNo" type="text" class="form-control" ng-readOnly="true" id="">
              </div>
               <div class="form-group">
                <label for="">Enter OTP.</label>
                <input ng-model="otp" type="text" class="form-control"  id="">
              </div>
               <div class="form-group">
                <label for="">  <a ng-click="sendOtp()">Resend OTP</a>
            </label>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Send OTP</button>
            </form>  
          </div>
        </div>
      </div>
    </div>
   
    
    
    
    <!-- LOGIN MODAL -->
    <div class="modal fade login-modal" id="login" tabindex="-1" role="dialog" ng-controller="userController">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"> 
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">log in</h3>
          </div>
          <div class="modal-body">
            <form  ng-submit="login()" role="form">
              <div class="form-group">
                <label for="">Enter Mobile No.</label>
                <input ng-model="mobileNo" type="text" class="form-control" id="">
              </div>
              <div class="form-group">
                <label for="">Password</label>
                <input ng-model="password" type="password" class="form-control" id="">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember Me
                </label>
              </div>
              <button type="submit" class="btn btn-primary btn-block">log in</button>
              <button type="button" class="btn btn-link btn-block">Forgot Password?</button>
            </form>  
          </div>
        </div>
      </div>
    </div>

    <!-- SIGN UP MODAL -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" ng-controller="userController">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
         <!--    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
            <h3 class="modal-title">Create an account</h3>
          </div>
          <div class="modal-body">
            <form name="regiForm"  ng-submit="register()" role="form">
               <div class="form-group">
                <label for="">Mobile No</label>
                <input type="text" ng-model="$root.mobileNo" class="form-control" id="">
              </div>
               <div class="form-group">
                <label for="">First Name</label>
                <input type="text" ng-model="firstName" class="form-control" id="">
              </div>
               <div class="form-group">
                <label for="">Last Name</label>
                <input type="text" ng-model="lastName" class="form-control" id="">
              </div>
              <div class="form-group">
                <label for="">Password</label>
                <input type="password" name="password" id="password" ng-model="password" class="form-control" >
              </div>
              <div class="form-group">
                <label for="">Confirm Password</label>
                <input type="password" ng-required="true"  pw-check="password" name="password_confirmatio" class="form-control" id="">
             <!--  <span class="myerror" ng-show="regiForm.password_confirmatio.$error.pwmatch">  Passwords don't match.</span>  -->  
              </div>
              
              <button type="submit" class="btn btn-primary btn-block">Sign up</button>
            </form>  
          </div>
        </div>
      </div>
    </div>
	
	<!-- Catalogue Modal -->
<div id="catalogue" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Download Catalogue</h4>
      </div>
      <div class="modal-body">
        <form role="form">
				<div class="form-group">
					<label for="name">Full Name:</label>
					<input type="text" class="form-control" id="email" placeholder="Enter Name">
				</div>
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" class="form-control" id="pwd" placeholder="Enter Email">
				</div>
				<div class="form-group">
					<label for="email">Phone Number:</label>
					<input type="number" class="form-control" id="pwd" placeholder="Enter Phone Number">
				</div>
				<button type="submit" class="btn btn-primary"  style="padding:10px 20px;">Submit</button>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" style="padding:10px 20px">Close</button>
      </div>
    </div>

  </div>
</div>



	
	
    <!-- PORDUCT QUICK VIEW MODAL -->
    <div class="modal fade quick-view" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="media">
              <div class="media-left">
                <img class="media-object" src="img/products/quick-view/quick-view-01.jpg" alt="Image">
              </div>
              <div class="media-body">
                <h2>Old Skool Navy</h2>
                <h3>$149</h3>
                <p>Classic sneaker from Vans. Cotton canvas and suede upper. Textile lining with heel stabilizer and ankle support. Contrasting laces. Sits on a classic waffle rubber sole.</p>
                <span class="quick-drop">
                  <select name="guiest_id3" id="guiest_id3" class="select-drop">
                    <option value="0">Size</option>
                    <option value="1">Size 1</option>
                    <option value="2">Size 2</option>
                    <option value="3">Size 3</option>            
                  </select>
                </span>
                <span class="quick-drop resizeWidth">
                  <select name="guiest_id4" id="guiest_id4" class="select-drop">
                    <option value="0">Qty</option>
                    <option value="1">Qty 1</option>
                    <option value="2">Qty 2</option>
                    <option value="3">Qty 3</option>            
                  </select>
                </span>
                <div class="btn-area">
                  <a href="#" class="btn btn-primary btn-block">Add to cart <i class="fa fa-angle-right" aria-hidden="true"></i></a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
	</div>
	
	    <script src="plugins/jquery-ui/jquery-ui.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="plugins/owl-carousel/owl.carousel.js"></script>
    <script src="plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
    <script src="plugins/countdown/jquery.syotimer.js"></script>
    <script src="options/optionswitcher.js"></script>
    <script src="js/custom.js"></script>
	<script src="js/jquery.PrintArea.js" type="text/JavaScript" language="javascript"></script>
       
	
